
.header {
    background-color: #4CAF50; /* A green color that represents nature and ecotourism */ 
    padding: 0%;
    margin: 0;
    border: 0;
    padding-left: 5vw;
    width: 100vw;
    height: 15vh;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header ul li a:hover {
    color: #007bff;
}


